@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,500&display=swap');


.popup {
  position: relative;




  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;

  background-color: rgba(42, 69, 86, 0.95);
}

.popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 69, 86, 0.95);
}


.detail {

  position: relative;
  z-index: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: 'REM';

  width: 70%;
  height: 80%;
  padding: 35px;
  margin: 10px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);


}





.image {
  position: absolute;
  width: 90%;
  height: 90%;



}

.info {
  margin-top: 5px;
  text-align: left;
  display: flex;
  justify-content: flex-start;

 
}

.name {
  font-size: 70px;

  font-family: 'REM';


}

.weightAndHeight {

  border: solid 2px rgb(3, 160, 212);
  border-radius: 20px;

  width: fit-content;

  padding: 10px;

  background-color: rgb(30, 30, 30);
  color: white;

  margin-left: 270px;
  margin-top: 250px;

  

  position: absolute;



  z-index: 9999;

  
}

.type {

  color:rgb(49, 49, 49);

  z-index: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: 'REM';

  width: 200px;
  height: fit-content;
  padding: 10px;
  margin: 10px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}

.type1 {

  z-index: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;


  font-family: 'REM';

  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px;



  margin-left: 550px;
  margin-top: 10px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}

.type2 {

  color:rgb(49, 49, 49);

  z-index: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: 'REM';

  width: 80%;
  height: fit-content;
  padding: 10px;
  margin: 10px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}

.type3 {

  color:rgb(49, 49, 49);

  z-index: 500;

  display: flex;
  flex-direction: initial;
  justify-content: space-between;


  font-family: 'REM';

  width: 90%;
  height: 10%;
  padding: 2px;
  margin: 10px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}

.type4 {

  color:rgb(49, 49, 49);

  z-index: 500;

  display: flex;
  flex-direction: initial;
  justify-content: space-between;


  font-family: 'REM';

  width: 50%;
  height: fit-content;
  padding: 10px;
  margin: 10px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}


.types {
  color: rgb(7, 178, 235);
}



.stats {


  z-index: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: 'REM';

  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;

  font-size: 15px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}

.stat {
  margin: 2px;
  padding: -10px;
}

.base_stat {
  color: green;
}



.close_container {
  position: absolute;
  margin: auto;
  width: 25px;
  height: 25px;
  margin-top: -20px;
  margin-left: 900px;
  cursor: pointer;
  z-index: 1000;
}

.leftright {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: rgb(1, 183, 244);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: rgb(1, 183, 244);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label {
  color: rgb(12, 12, 12);
  font-family: Helvetica, Arial, sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;



}

.close {
  margin: 40px 0 0 -25px;
  position: absolute;
}

.close_container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #F25C66;
}

.close_container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #F25C66;
}

.close_container:hover label {
  opacity: 1;
}


.peso {
  color: green;
}

.altura {
  color: red;
}

.grass {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(29, 241, 29);
  border-bottom: 125px solid rgb(29, 241, 29); 
 
}

.fighting{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(226, 15, 15);
  border-bottom: 125px solid rgb(226, 15, 15); 
}

.flying{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgba(4, 109, 128, 0.575);
  border-bottom: 125px solid rgba(4, 109, 128, 0.575); 

}

.fire {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(248, 82, 6);
  border-bottom: 125px solid rgb(248, 82, 6); 


}

.water {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(12, 179, 245);
  border-bottom: 125px solid rgb(12, 179, 245); 

}
.bug {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(203, 238, 5);
  border-bottom: 125px solid rgb(203, 238, 5); 

}
.ground {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgba(161, 93, 4, 0.808);
  border-bottom: 125px solid rgba(161, 93, 4, 0.808); 

}

.poison {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(106, 21, 241);
  border-bottom: 125px solid rgb(106, 21, 241); 
 
}

.rock {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(151, 151, 151);
  border-bottom: 125px solid rgb(151, 151, 151); 

}

.ghost {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(63, 90, 69);
  border-bottom: 125px solid rgb(63, 90, 69); 

}

.steel {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgba(145, 161, 145, 0.781);
  border-bottom: 125px solid rgba(145, 161, 145, 0.781); 

}

.electric {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(228, 253, 0);
  border-bottom: 125px solid rgb(228, 253, 0); 

}

.psychic {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(14, 10, 224);
  border-bottom: 125px solid rgb(14, 10, 224); 
 
}

.ice {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(116, 181, 255);
  border-bottom: 125px solid rgb(116, 181, 255); 


}

.dragon {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid #7e0d09;
  border-bottom: 125px solid #7e0d09; 

}

.dark {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(0, 0, 0);
  border-bottom: 125px solid rgb(0, 0, 0); 

}

.fairy {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(240, 125, 221);
  border-bottom: 125px solid rgb(240, 125, 221); 

}

.unknown {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(186, 190, 186);
  border-bottom: 125px solid rgb(186, 190, 186); 

}

.shadow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(29, 30, 37);
  border-bottom: 125px solid rgb(29, 30, 37); 

}

.normal {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-top: 125px solid transparent;

  border-radius: 0 0 20px 0;
  bottom: 0;
  right: 0;
  content: "";

  border-right: 125px solid rgb(2, 134, 117);
  border-bottom: 125px solid rgb(2, 134, 117); 

}