

.sideNavBar{
    width: 60px;
    height: 100vh;
    background-color: #222;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    /* border-radius: 1rem 0 0 1rem; */
    transition: width .75s ease;
}

.text{
    display: none;
}
.sideNavBar:hover{
    width: 200px;
}
.sideNavBar:hover .text{
    display: contents;
}


.link{
    text-decoration: none;
    /* color:white; */
}

.link:not(.active) {
    /* Estilos para los enlaces no activos */
    color:white;
  }

.active{
    color: rgb(118, 115, 115) !important;
    text-decoration: none;
}

.links{
    margin-top: 20px;
}